.cmp-wcmio-responsiveimage img, .cmp-wcmio-responsiveimage picture {
  max-width: 100%;
  height: auto;
}

.cmp-wcmio-responsiveimage .cmp-wcmio-responsiveimage__title {
  display: block;
  margin: .75rem 0;
}
